extends layout.pug	

block content

	div(class='landing')
		div(class='landing-text') The Place To Find Quizzes 
	h1 What is Quiz
	p --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- 

	script(src="script.js")