html
	head
		link(rel="stylesheet", href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Hind+Guntur:400,700" rel="stylesheet")
		link(href='favicon.ico' rel='icon')
		title The Quizzes Website
	body
		ul
			img(src="logo.png", width='40px' class='nav-img') 
			a
				li Create Your Own
			a(href='/quizzes')
				li Quizzes
			a(href='/')
				li Home
		block content
