extends layout.pug

block content
	div(class='container')
		each val in cards
			div(class='card' data-quizid=val[0] onclick='runQuiz(this)')
				div(style="float: left;")
					img(src=val[2] height="150px" class='card-img'  border="1px")
				p(class='card-text') #{val[1]}
	script(src='main.js')