body, html {
	margin: 0;
	font-family: sans-serif;
}

li {
	display: inline-block;
	margin-right:2em;
	float:right;
	font-size:1.1em;
	margin-top:0.8em;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
}

ul {
	box-shadow: 0px 0px 10px #0000004b;
	padding:0.5em;
	margin:-5em 0;
	position: fixed;
	background: #ffffff;
	width:100%;
	

}

img {
	margin:5px;
}

.landing {
	z-index:-1;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('bg.jpg');
	background-size:cover;
	background-position:center;
}

.landing-text {
	width:100%;
	font-size: 5em;
	height:2em;
	position: absolute;
	color:white;
	text-align: center;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
}

.container {
	width:86em;
	margin:5em auto;
}

.card {
	width:24em;
	background:#098dfa;
	display: inline-block;
	margin:1em;
	padding:1em;
	color:white;
	border-radius:5px;
}

h1 {
	margin:0;
}

a {
	color:rgb(104, 104, 104);
}

.grid-container {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: auto auto auto;
	padding:1em;
}

.grid-element {
	background:rgb(255, 0, 170);
	padding:1em;
	height:20vh;
	margin:1em 0;
	border-radius: .2em;
	display: table;
}

.grid-element * {
	display:table-cell;
	vertical-align: middle;
	text-align: center;;
}

.question-container {
	position: absolute;
	width:80vw;
	height:80vh;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	box-shadow: 0px 0px 30px#0000004b;
}

.question {
	text-align: center;
	padding-top:1.5em;
}