body, html {
	margin: 0;
	font-family: 'Hind Guntur';
	overflow: auto;
}

li {
	display: inline-block;
	float: right;
	font-size:1.1em;
	margin:0 0.4em;
	padding:0.4em 1em;
	transition: 0.5s;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
	background: black;
}

a li:hover {
	text-decoration: underline;
	cursor: pointer;
	color:white;
}

ul {
	padding:0.5em;
	margin:0;
	position: fixed;
	width:100%;
	background:white;
	box-shadow:0px 0px 20px #0000007a;
	z-index:100;	
}

.nav-img {
	margin:5px;
	margin-left:7em;
	transition: 0.5s;
}

.landing {
	z-index:-1;
	height: 100%;
	width: 100%;
	background: url('bg.jpg');
	background-position:center;
	transition: 1s;
	background-size:100%;
}

.landing:hover {
	background-size:110%;
}

.landing-text {
	width:100%;
	font-size: 5em;
	height:2em;
	position: absolute;
	color:white;
	text-align: center;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
}

.container {
	width:78em;
	margin:5em auto;
}

.card {
	width:35em;
	background:linear-gradient(45deg,rgb(255, 0, 128),#ff7b00)	;
	display: inline-block;
	margin:1em;
	padding:1em;
	color:white;
	transition:0.1s ease-in-out;
	vertical-align: top;
	outline-color: rgb(39, 2, 25);
	outline-style: solid;
	outline-width:0px;
}

.card:hover {
	cursor: pointer;
	outline-width:5px;
}


h1 {
	margin:0;
}

a {
	color:rgb(0, 0, 0);
}

.grid-container {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	padding:1em 0em;
	margin-bottom:20%;
}

.grid-element {
	background:linear-gradient(45deg,rgb(255, 0, 128),#ff7b00);
	padding:4em 0;
	display: table;
	color:white;
	text-align: center;
	font-size:1.3em;
	outline-color: rgb(39, 2, 25);
	outline-style: solid;
	outline-width:0px;
	transition:0.1s ease-in-out;
}

.grid-element:hover {
	cursor: pointer;
	outline-width:5px;
}

.question-container {
	position: absolute;
	width:65vw;
	height:65vh;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
}

.question {
	text-align: center;
	padding:2.5em 0 ;
	border-radius:0.2em;
	color: #fff;
	text-shadow: 0 0 20px #000;
	background-size:cover;
	background-position:center;
}

.card-img {
	margin-right:0.4em;
	background-size: cover;
}

.card-text {
	font-size:1.2em;
}

.title {
	text-align:center;
	margin:2em;
	font-size: 2.3em;
}

.share {
	text-align:center;
}

.share button {
	background:#2A70FE;
	border:0;
	color:white;
	padding:1em 4em;
	margin-bottom:6em;
}